<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <big-card
      [id]="1"
      [horizontalPhotoCover]="bigCardHorizontalPhotoCover"
      [cardTitle]="bigCard.title"
      [summary]="bigCard.summary"
    >
    </big-card>
  </div>
  <div class="articles__others" >
    <ng-container *ngFor="let card of smallCards; let i = index">
      <small-card
        [id]="card.id"
        [cardTitle]="card.title"
        [horizontalPhotoCover]="smallCardHorizontalPhotoCover[i]"
      >
      </small-card>
    </ng-container>
  </div>
</div>
